<!DOCTYPE html>
<html lang="<%- config.language %>">
  <%- partial('site/head') %>
    <body class="has-navbar-fixed-top has-navbar-fixed-bottom mb-0">
        <%- partial('site/header') %>
        
        <%- partial('site/hero') %>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <%- body %>
                    <%- partial('site/sidebar') %>
                </div>
            </div>
        </section>

        <%- partial('site/footer') %>
        <%- partial('site/scripts') %>
    </body>
</html>
