                        <% terms.each(function(term){%>
                        <span id="<%- term.slug %>"></span>
                        <section class="section box">
                          <div class="ancher-target">
                            <p class="title is-5">
                              <span class="<%- icon %>"></span> 
                              <%- texonomyname %>: 
                              <a href="<%- url_for(term.path) %>">
                                <%- term.name %>
                              </a>
                            </p>
                          </div>
                          <br>
                          <ul>
                            <% term.posts.each(function(post){ %>
                            <%- partial('post-list', {
                              post: post
                            }) %>
                            <% }) %>
                          </ul>
                        </section>
                        <%}) %>