  <head>
    <%- partial('head/head') %>
  </head>
  <body style="display:none">
    <div class="loader-wrapper">
      <div class="loader">Loading...</div>
    </div>
    <nav class="navbar is-black">
      <div class="navbar-brand">
        <a href="<%- url_for('/') %>" class="navbar-item">
          <img src="<%- url_for(theme.favicon.androidchrome512) %>" alt="" />
          <%- config.title %>
        </a>
        
        <a role="button" class="navbar-burger">
          <span data-hidden="true"></span>
          <span data-hidden="true"></span>
          <span data-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start pl-6">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/contact-us/">Contact Us</a>
          <a class="navbar-item" href="/privacy-policy/">Privacy Policy</a>
          <a class="navbar-item" href="/terms-of-use/">Terms Of Use</a>
        </div>
      </div>
    </nav>
    
    <%- partial('hero/hero') %>
    