<div class="column">
  <div class="block box">
    <div class="box">
      <figure class="image is-16by9 has-text-centered">
        <img style="border-radius: 5px" src="<%- url_for(page.cover || theme.cover) %>" alt="<%- page.title %>" />
      </figure>
      
      <P>
        <strong>Description : </strong>
        <%- page.description %>
      </P>
      
      <% if(page.artist){%>
      <p>
        <strong>Arrist : </strong>
        <%- page.artist %>
      </p>
      <%} %>
      <br>
      <div class="content">
        <p class="title is-3">List of Contents</p>
        <%- toc(page.content) %>
      </div>
      
    </div>
    
    <div class="content has-text-centered">
      <%- page.content %>
    </div>
  </div>
</div>