<%
function fixCap(str) {
  return str.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
}
%>
<div id="content" class="column">
  <article class="block box">
    <div class="box">
      <figure class="image is-16by9 has-text-centered">
        <img style="border-radius: 5px" src="<%- url_for(page.cover || theme.cover) %>" alt="<%- page.title %>" />
      </figure>
       
      <P>
        <strong>Description : </strong>
        <%- page.description %>
      </p>
      
      <% if(page.categories){%>
      <br>
      <p>
      <div class="tags">
        <span class="tag is-small is-dark fa fa-folder"></span> 
        <% page.categories.each((category)=>{%>
          <a class="tag is-small is-dark" href="<%- url_for(category.path) %>">
            <span class="has-text-white"><%- fixCap(category.name) %></span>
          </a>
        <%}); %>
      </div></p><%} %>
      
      <% if(page.artist){%>
      <p>
        <strong>Arrist : </strong>
        <%- page.artist %>
      </p>
      <%} %>
      <br>
      <div class="content">
        <p class="title is-3">List of Contents</p>
        <%- toc(page.content,{list_number:false}) %>
      </div>
    </div>
    
    <div class="content has-text-centered">
      <%- page.content %>
    </div>
    
    <% if(page.tags){%>
    <p class="subtitle">Tags: </p>
    <div class="field is-grouped is-grouped-multiline">
      <% page.tags.each((tag)=>{%>
        <div class="control">
          <div class="tags has-addons">
            <a class="tag is-small is-success" href="<%- url_for(tag.path) %>">
              <span class="has-text-white"><%- fixCap(tag.name) %></span>
            </a>
            <span class="tag is-small is-dark"><%- tag.length %></span>
          </div>
        </div>
      <%}); %>
    </div><%} %>
      
  </article>
</div>