                    <%
                      function groupBy(posts, archive){
                        return posts.reduce(function(acc,obj){
                          var key = obj[archive];
                          
                          if(!acc[key]){
                            acc[key] = []
                          }
                          
                          acc[key].push(obj);
                          return acc;
                        },{});
                      }
                      
                      const posts = page.posts.map(post => ({
                        ...post,
                        year: date(post.date, 'YYYY'),
                        month: date(post.date, "MMMM")
                      }))
                      
                      const postByYear = groupBy(posts,'year')
                      
                      const postsSorted = Object.keys(postByYear).sort(date,-1).reverse()
                    %>
                    <div class="column is-8">
                      <div class="box">
                        <h2 class="title is-4">
                          <span class="fa fa-calendar"></span>
                          <%- archive_title %>
                        </h2>
                        
                        <div class="field is-grouped is-grouped-multiline">
                          <% postsSorted.forEach(function(year){%>
                          <div class="tags has-addons">
                            <a href="<%- url_for('/archives/#'+year)%>">
                              <div class="tag is-light">
                                <%- year %>
                              </div>
                            </a>
                          </div> &nbsp;
                          <%}) %>
                          <div class="tags dummy"></div>
                        </div>
                      </div>
                            
                      <div class="columns is-multiline">
                        
                          <% postsSorted.forEach(function(year){%>
                          <span id="<%- year %>"></span>
                          <div class="box column is-full-mobile is-half-tablet is-one-third-widescreen">
                            <h2 class="title is-5">
                              <span class="fa fa-calendar-plus"></span>
                              <%- year %>
                            </h2>
                            
                            <%
                              const postByMonth = groupBy(postByYear[year],'month');
                              
                            %>
                            <ul>
                              <%  Object.keys(postByMonth).forEach(function(month){ %>
                              <li>
                                <h2 class="title is-6">
                                  <span class="fa fa-calendar-plus"></span>
                                  <%- month %>, 
                                  <%- year %>
                                </h2>
                              </li>
                              <li>
                                <ul>
                                  <% postByMonth[month].forEach(function(post){ %>
                                  <li>
                                    <div class="is-pulled-left">
                                      <span class="fa fa-caret-right"></span>
                                      <a>
                                        <%- post.title %>
                                      </a>
                                    </div>
                                    <div class="is-pulled-right">
                                      <time>
                                        <%- date(post.date, 'DD, MMM') %>
                                        <span class="fa fa-calendar"></span>
                                      </time>
                                    </div>
                                    <div class="is-clearfix"></div>
                                  </li>
                                  <%}) %>
                                </ul>
                                <div class="is-clearfix mb-4"></div>
                              </li>  
                              <% }) %>
                            </ul>
                          </div>
                          <div class="is-clearfix"></div>
                          <%}) %>
                      </div>
                    </div>
                  
                    