                        <nav class="pagination is-small is-centered" role="navigation" aria-label="Pagination">
                          <% if(page.total > 1){%>
                          
                          <% if(page.prev != 0){%>
                            <a class="pagination-previous is-link" rel="first" href="<%- url_for(config.index_generator.path) %>">
                              First
                            </a>
                          <%}else{%>
                            <a class="pagination-previous is-disabled" title="This is first page">
                              First
                            </a>
                          <%} %>
                          
                          <% if(page.prev_link){%>
                            <a class="pagination-previous" rel="prev" href="<%- url_for(page.prev_link) %>">
                              Previous
                            </a>
                          <%}else{%>
                            <a class="pagination-previous is-disabled" title="This is first page">
                              Previous
                            </a>
                          <%} %>
                          
                          <div id="pages" class="dropdown pagination-list">
                            <div class="dropdown-trigger">
                              <a class="navbar-link" aria-haspopup="true" aria-controlls="page-dropdown">
                                <%- page.current %> of <%- page.total %>
                              </a>
                            </div>
                            <div class="dropdown-menu" id="page-dropdown" role="menu">
                              <div class="dropdown-content">
                                
                                <a href="<%- url_for(config.index_generator.path) %>" class="dropdown-item <% if(1 == page.current){%>is-active<%} %>">
                                  Page: 1
                                </a>
                                <% for(var cpage = 2; cpage <= page.total; cpage++ ){%>
                                <% 
                                 var page_link = config.index_generator.path+'/'+config.pagination_dir+'/'+cpage 
                                %>
                                <a href="<%- url_for(page_link) %>" class="dropdown-item <% if(cpage == page.current){%>is-active<%} %>">
                                  Page: <%- cpage %>
                                </a>
                                <%} %>
                                
                              </div>
                              
                              <script>
                                jQuery('document').ready(function(){
                                  
                                  $('#pages').click(function(){
                                    $('#pages').toggleClass('is-active')
                                  })
                                })
                              </script>
                            </div>
                          </div>
                          
                          
                          <% if(page.next_link){%>
                            <a class="pagination-next" href="<%- url_for(page.next_link) %>" rel="next">
                              Next
                            </a>
                          <%}else{%>
                            <a class="pagination-next is-disabled" title="This is last page">
                              Next
                            </a>
                          <%} %>
                          
                          <% if(page.next != 0){%>
                          <%
                            var last = config.index_generator.path + '/' + config.pagination_dir +'/'+ page.total
                          %>
                            <a class="pagination-next" href="<%- url_for(last) %>" rel="Last">
                              Last
                            </a>
                          <%}else{%>
                            <a class="pagination-next is-disabled" title="This is last page">
                              Last
                            </a>
                          <%} %>
                          <%} %>
                        </nav>