    
    <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="Main Navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%- url_for('/') %>">
          <%- image_tag(theme.favicon32,{alt: config.title}) %>
          <%= config.title %>
        </a>
        
        <a class="navbar-item" href="<%- url_for('/blog') %>">
          Blog
        </a>
        
        <a class="navbar-item" href="<%- url_for('/about') %>">
          About
        </a>
      
        <a class="navbar-burger" data-target="menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      
      <div id="menu" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Archives
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="<%- url_for('/categories') %>">
                By Categories
              </a>
              <a class="navbar-item" href="<%- url_for('/tags') %>">
                By Tags
              </a>
              <a class="navbar-item" href="<%- url_for('/archives') %>">
                By Dates
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="panel">
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search...." id="search-input" />
                <span class="icon is-small is-left">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="search-result">
              <ul id="search-result"><!--
                <li class="box">
                  <a href="#" class="subtitle">Result one</a>
                  <p>This is the post content excerpt</p>
                </li>
                <li class="box">
                  <a href="#" class="subtitle">Result two</a>
                  <p>This is the post content excerpt</p>
                </li>
                </li>
                <li class="box">
                  <a href="#" class="subtitle">Result three</a>
                  <p>This is the post content excerpt</p>
                </li>
                <div class="is-clearfix"></div>
                -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    